<h3>Add a dose to <%= @cocktail.name %></h3>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add this dose", class:"btn btn-primary" %>
<% end %>
